body {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
	font-family: "PTSans", "Arial", "Serif" url("../fonts/PTSans.ttf");
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h2 {
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

.menu li {
	width: 240px;
	/* сюда? */
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search h3 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.search p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.search a {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;
}

.search-hotels label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

/* как прописать для одной кнопки?*/
.search-hotels .find {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	background-color: #81b3d2;
	color: #ffffff;
}

.visitsedona a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.made-by a {
	font-size: 14px;
	line-height: 26px;
}

.form-search-big h2 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.form-search-big label {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.found-n h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sort h4 {
	font-size: 12px;
	line-height: 18px;
}

.card h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hause-item span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.book-but a {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.more-but a {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.rating span {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
}

/* Сетка */
.container {
	width: 1200px;
	margin: 0 auto;
}

/* не реагирует*/
/*.main-header {
	padding-left: 72px;
	padding-right: 72px;
}*/

.menu {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	outline: 1px solid #000000;
}

.menu li:nth-child(2){
	margin-right:240px;
}

.intro-images {
	background-image: url("../img/sedona-1.jpg");
	display: flex;
	flex-direction: column;
	align-items: center; 
}

.features-head {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	/*width: 600px;*/
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	margin: auto;
	text-align: center; 
}

.features-head h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.features-head p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}
.features {
	width: 100%;
}

.features-blue {
	background-color: #81b3d2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	color: #ffffff;
}

.features-blue h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.features-blue p {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.promo h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.promo p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.features-gray h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.features-gray p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.features-image {
	flex-grow: 2;
}

img {
	max-width:100%; 
	height: auto;
}

.features-item {
	width: 400px;
}

.promo {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 1200px;
	text-align: center;
}

.promo-item {
	flex-basis: 400px;
	
}

.features-gray {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	text-align: center;
}

/* Поиск */

.search {
	background-color: #ffffff;
	width: 568px;
	/*width: 100%;*/
	padding-left: 316px;
	padding-right: 316px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	text-align: center;
}

.search-but {
	color: #ffffff;
	background-color: #766357;
	width: 568px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.search-open {
	background-image: url(../img/map.jpg);
}

.form-search-hotels {
	display: flex;
	flex-direction: column;
	width: 568px;
	padding-left: 316px;
	padding-right: 316px;
	justify-content: space-around;
	align-items: center;
	/*text-align: center;*/
	/*background-color: #ffffff;*/ /* не действует*/
}

/*не работает*/
.date-in {
	display: flex;
	flex-direction: row;
}

.date-out {
	display: flex;
	flex-direction: row;
}

.peoples {
	display: flex;
	flex-direction: row;
}

/* Футер */

.main-footer {
	width: 1200px;
	background: rgba(255,255,255, 0,9);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer {
	width: 1200px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.soc-but {
	display: flex;
	flex-direction: row;
}

/* Отели */
/* Форма */

.form-search-big {
	background-image: url(../img/sedona-bgrd.jpg);
	display: flex;
	justify-content: space-around;
	color: #ffffff; 
	/* почему на заголовки не действует?*/
}

.infrastructure {
	color: #ffffff; 
	display: flex;
	flex-direction: column;
	width: 264px;
	padding-left: 72px;
}

.form-column{
	display: flex;
	align-self: baseline;
	/*текст и чеки не выравниваются*/
}

.type-hause {
	display: flex;
	flex-direction: column;
	width: 264px;
}

.cost {
	display: flex;
	flex-direction: column;
	width: 528px;
	padding-right: 72px;
}

/* Результаты */

.results-sort {
	background-color: #fefefe;
	display: flex;
	/*justify-content: space-around;*/
	align-items: baseline;
}

.found-n {
	width: 165px;
	margin-right:20px;
	padding-left: 72px;
}

.sort {
	display: flex;
	flex-direction: row;
	width: 781px;
}

.sort-types {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sort-dir {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 110px;
	padding-right: 72px;
}

.cards {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center; /*не сработало?*/
	padding-left: 72px;
	padding-right: 72px;
}

/* не выравнивается по высоте. почему?*/
.hause-image {
	margin-right: 20px;
	width: 165px;
}

.hause-item {
	display: flex;
	flex-direction: row;
	width: 781px;
	flex-wrap: wrap;
}

.hause-name {
	width: 100%;
}

.more-but {
	display: flex;
	flex-direction: column;
	width: 110px;
}

.book-but {
	display: flex;
	flex-direction: column;
	width: 142px;
}

.more {
	background-color: #81b3d2;
	color: #ffffff;
	padding: 8px 16px;
	/* если делаю маргин, то он 
	забирает место из этого же блока. почему? */
}

.book {
	background-color: #766357;
	color: #ffffff;
	padding: 8px 16px;
}

.rating {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 110px;
	background-color: #f2f2f2;
	color: #666666;
	padding: 8px 16px;
	text-align: center;
}

a {
	text-decoration: none;
}
/* P.S. Не говногод, а собственный стиль */