@font-face {
font-family: "ptsans";
src: url("ptsans.woff2") format("woff2"),
url("ptsans.woff") format("woff");
}

body {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
	font-family: "PTSans", "Arial", "Serif";
	text-transform: uppercase;
	background-color: #f2f2f2;
}

/* начало иконочного шрифта */

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/* конец иконочного шрифта */




h2 {
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

.menu li {
	width: 240px;
	/* сюда? */
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}



.visitsedona a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.made-by a {
	font-size: 14px;
	line-height: 26px;
}

/* чекбоксы */

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	/*margin: 10px 0;*/
	margin-bottom: 25px;
	line-height: 20px;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	content: "\2610";
	font-size: 26px;
	font-family: "symbols-sedona";

	position: absolute;
	top: 0;
	left: 0;

	width: 15px;
	height: 15px;
}

input[type="checkbox"]:checked + label:before {
	content: "\2611";
	font-size: 26px;
	font-family: "symbols-sedona";

	position: absolute;
	top: 0;
	left: 0;

	width: 15px;
	height: 15px;
}
/* конец чекбоксов */

.form-search-big {
	padding-top: 15px;
	padding-bottom: 10px;
}

.form-search-big h2 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 25px;
}

.form-search-big label {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.found-n h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sort h4 {
	font-size: 12px;
	line-height: 18px;
}

.card h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hause-item span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.book-but a {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.more-but a {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.rating span {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
}

/* Сетка */
.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header .container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.main-header {
	position: relative;
}

.logo-item {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.menu {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	/*outline: 1px solid #000000;*/
}

.menu li:nth-child(2){
	margin-right:240px;
}

.intro-images {
	background-image: url("../img/sedona-1.jpg");
	background-position: 50% 21% ;
	display: flex;
	flex-direction: column;
	align-items: center; 
	padding-top: 76px;
}

.mask {
	padding-top: 23px;
}

.features-head {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	padding-bottom: 36px;
	padding-top: 40px;
	margin: auto;
	text-align: center; 
}

.features-head h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	display: block;
	width: 500px;
	padding-left: 350px;
	padding-right: 350px;
}

.features-head p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}
.features {
	width: 100%;
}

.features-blue {
	background-color: #81b3d2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	color: #ffffff;
}

.features-blue h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.features-blue p {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 30px;
}

.promo h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 15px;
}

.promo-item-hause h2:before {
	content: "";
	display: block;
	width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  background-image: url(../img/spritesheet.png);
  background-position: -20px -325px;
  margin: 30px auto;
}

.promo-item-food h2:before {
	content: "";
	display: block;
	width: 75px;
  height: 76px;
  background-position: -20px -99px;
  background-repeat: no-repeat;
  background-image: url(../img/spritesheet.png);
  margin: 30px auto;
}

.promo-item-gifts h2:before {
	content: "";
	display: block;
	width: 64px;
  height: 76px;
  background-position: -20px -209px;
  background-repeat: no-repeat;
  background-image: url(../img/spritesheet.png);
  margin: 30px auto;
}

.promo p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	padding-bottom: 68px;
}

.promo {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 1200px;
	text-align: center;
}

.promo-item {
	flex-basis: 400px;
}

.features-gray h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 30px;
	/*padding-left: 500px;
	padding-right: 500px;*/
}

.features-gray p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.features-image {
	flex-grow: 2;
	line-height: 0;
}

.features-image img {
	max-width:100%; 
	height: auto;
}

.features-item {
	width: 400px;
	padding: 0;
}

.features-item h2 {
	width: 240px;
	display: block;
	padding-left: 88px;
	padding-right: 88px;
}


.features-gray {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	text-align: center;

}

.features-item-gray p {
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 55px;
}

/* Поиск */

.search {
	background-color: #ffffff;
	width: 568px;
	/*width: 100%;*/
	padding-left: 316px;
	padding-right: 316px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	text-align: center;
}

.search h3 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.search p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	padding-bottom: 35px;
}

.search a {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;
}

.search-hotels label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

/* как прописать для одной кнопки?*/
.search-hotels .find {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	background-color: #81b3d2;
	color: #ffffff;
}

.search-but {
	color: #ffffff;
	background-color: #766357;
	width: 568px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.search-open {
	background-image: url(../img/map.jpg);
	position: relative;
	height: 595px;
}

.form-search-hotels {
	display: flex;
	flex-direction: column;
	width: 568px;
	/*margin-left: 316px;
	margin-right: 316px;*/
	justify-content: space-around;
	align-items: center;
	/*text-align: center;*/
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/*не работает*/
.date-in {
	display: flex;
	flex-direction: row;
}

.date-out {
	display: flex;
	flex-direction: row;
}

.peoples {
	display: flex;
	flex-direction: row;
}

/* Футер */

.main-footer {
	width: 1200px;
	background: rgba(255,255,255, 0,9);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer {
	width: 1200px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.soc-but {
	display: flex;
	flex-direction: row;
}

/* Отели */
/* Форма */

.form-search-big {
	background-image: url(../img/sedona-bgrd.jpg);
	display: flex;
	justify-content: space-around;
	color: #ffffff; 
	/* почему на заголовки не действует?*/
}

.infrastructure {
	color: #ffffff; 
	display: flex;
	flex-direction: column;
	width: 252px;
	padding-left: 72px;
}

.form-column{
	display: flex;
	align-self: baseline;
}

.type-hause {
	display: flex;
	flex-direction: column;
	width: 264px;
}

.cost {
	display: flex;
	flex-direction: column;
	/*width: 528px;*/
	width: 328px;
	margin-left: 200px;
	padding-right: 72px;
}





/* Результаты */
.results-sort {
	background-color: #fefefe;
	display: flex;
	/*justify-content: space-around;*/
	align-items: baseline;
}

.found-n {
	width: 165px;
	margin-right:20px;
	padding-left: 72px;
}

.sort {
	display: flex;
	flex-direction: row;
	width: 781px;
}

.sort-types {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sort-dir {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 110px;
	padding-right: 72px;
}

.cards {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center; /*не сработало?*/
	padding-left: 72px;
	padding-right: 72px;
	border-top: 1px solid #e5e5e5;
}

.card:nth-child(3) {
	border-bottom: 1px solid #e5e5e5
}

/* не выравнивается по высоте. почему?*/
.hause-image {
	margin-right: 20px;
	width: 165px;
}

.hause-item {
	display: flex;
	flex-direction: row;
	width: 781px;
	flex-wrap: wrap;
}

.hause-name {
	width: 100%;
}

.more-but {
	display: flex;
	flex-direction: column;
	width: 110px;
}

.book-but {
	display: flex;
	flex-direction: column;
	width: 142px;
}

.more {
	background-color: #81b3d2;
	color: #ffffff;
	/*padding: 8px 16px;*/
}

.book {
	background-color: #766357;
	color: #ffffff;
	/*padding: 8px 16px;*/
}

.rating {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 110px;
	background-color: #f2f2f2;
	color: #666666;
	/*padding: 8px 16px;*/
	text-align: center;
}

a {
	text-decoration: none;
}
/* P.S. Не говногод, а собственный стиль */