.hause, .food, .gift, .min, .plus, .cal, .t, .f, .yt, .academy-logo, .no-check, .check, .no-check-disabled, .arrow-down-2, .arrow-down-1, .arrow-hvr-2, .arrow-hvr-1, .arrow-2, .arrow-1, .check-disabled{
	background: url(sprites.png) no-repeat;
}

.hause{
	background-position: 0 0;
	width: 75px;
	height: 72px;
}

.food{
	background-position: -80px -1px ;
	width: 74px;
	height: 70px;
}

.gift{
	background-position: -164px 0;
	width: 64px;
	height: 76px;
}

.min{
	background-position: -286px -55px ;
	width: 12px;
	height: 3px;
}

.plus{
	background-position: -265px -52px ;
	width: 11px;
	height: 11px;
}

.cal{
	background-position: -236px -47px ;
	width: 21px;
	height: 22px;
}

.t{
	background-position: -363px -3px ;
	width: 17px;
	height: 15px;
}

.f{
	background-position: -389px 0;
	width: 10px;
	height: 19px;
}

.yt{
	background-position: -379px -27px ;
	width: 20px;
	height: 16px;
}

.academy-logo{
	background-position: -236px 0;
	width: 113px;
	height: 39px;
}

.no-check{
	background-position: -305px -50px ;
	width: 22px;
	height: 22px;
}

.check{
	background-position: -330px -50px ;
	width: 26px;
	height: 22px;
}

.no-check-disabled{
	background-position: -299px -79px ;
	width: 22px;
	height: 22px;
}

.arrow-down-2{
	background-position: -78px -91px ;
	width: 11px;
	height: 10px;
}

.arrow-down-1{
	background-position: -64px -90px ;
	width: 11px;
	height: 10px;
}

.arrow-hvr-2{
	background-position: -49px -90px ;
	width: 11px;
	height: 10px;
}

.arrow-hvr-1{
	background-position: -33px -90px ;
	width: 11px;
	height: 10px;
}

.arrow-2{
	background-position: -16px -90px ;
	width: 11px;
	height: 10px;
}

.arrow-1{
	background-position: 0 -90px ;
	width: 11px;
	height: 10px;
}

.check-disabled{
	background-position: -374px -76px ;
	width: 26px;
	height: 22px;
}

